@import './mixins';

//颜色
$color-global: #ff5e46;
$color-white: #ffffff;
$color-bg: #eeeeee;
$color-three: #333333;
$color-six: #666666;
$color-nine: #999999;

//高度
$header-h: .88rem;
$search-h: .88rem;
$footer-h: 1.3rem;

