@font-face {
  font-family: 'iconfont';  /* project id 1561982 */
  src: url('https://at.alicdn.com/t/font_1561982_13yeghy67qjr.eot');
  src: url('https://at.alicdn.com/t/font_1561982_13yeghy67qjr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1561982_13yeghy67qjr.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1561982_13yeghy67qjr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1561982_13yeghy67qjr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1561982_13yeghy67qjr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }